$base-theme:Bootstrap;
$skin-name:1;
$swatch-name:Bootstrap;
$border-radius: 0.25rem;
$accent: #292b2c;
$secondary: #292b2c;
$info: #292b2c;
$success: #292b2c;
$warning: #292b2c;
$error: #292b2c;
$body-bg: #292b2c;
$body-color: #292b2c;
$component-bg: #292b2c;
$component-color: #292b2c;
$card-cap-bg: #292b2c;
$card-cap-color: #292b2c;
$series-a: #292b2c;
$series-b: #292b2c;
$series-c: #292b2c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;
